apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: modules.core.automium.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.ownerReferences[0].name
    description: the parent service.core.automium.io
    name: Service
    type: string
  - JSONPath: .status.phase
    description: the execution phase
    name: Status
    type: string
  - JSONPath: .status.updatedReplicas
    description: Ready node replicas
    name: Ready
    type: string
  - JSONPath: .status.replicas
    description: Requested node replicas
    name: Requested
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: core.automium.io
  names:
    kind: Module
    plural: modules
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            action:
              type: string
            env:
              items:
                type: object
              type: array
            flavor:
              type: string
            image:
              type: string
            replicas:
              format: int64
              type: integer
            source:
              type: string
          required:
          - source
          - image
          - replicas
          - flavor
          - action
          type: object
        status:
          properties:
            currentReplicas:
              format: int64
              type: integer
            phase:
              type: string
            replicas:
              format: int64
              type: integer
            updatedReplicas:
              format: int64
              type: integer
          required:
          - phase
          - replicas
          - currentReplicas
          - updatedReplicas
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
