apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: services.core.automium.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.labels['app']
    description: The desired application
    name: Application
    type: string
  - JSONPath: .spec.version
    description: The application version
    name: Version
    type: string
  - JSONPath: .spec.replicas
    description: The application replicas
    name: Replicas
    type: string
  - JSONPath: .spec.flavor
    description: The instance flavor
    name: Flavor
    type: string
  - JSONPath: .status.moduleRef
    description: module.core.automium.io reference
    name: Module
    type: string
  - JSONPath: .status.phase
    description: The execution phase
    name: Status
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: core.automium.io
  names:
    kind: Service
    plural: services
  scope: Namespaced
  subresources:
    scale:
      specReplicasPath: .spec.replicas
      statusReplicasPath: .status.replicas
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            env:
              description: Env is an array of EnvVar used for configuring the service.
              items:
                type: object
              type: array
            extra:
              description: Extra is an array of ExtraSpec used for configuring the
                extra components, such as monitoring or backups, for this service.
              items:
                properties:
                  name:
                    description: Name is the extra component name.
                    type: string
                  parameters:
                    description: Parameters is a map which can be used to further
                      configure the extra component.
                    type: object
                  version:
                    description: Version is the extra component version.
                    type: string
                required:
                - name
                - version
                type: object
              type: array
            flavor:
              description: Flavor is the flavor which will be used for node instances.
              type: string
            replicas:
              description: Replicas is the number of service replicas.
              format: int64
              minimum: 0
              type: integer
            tags:
              description: Tags is an optional field for service tagging. Not used
                at the moment.
              items:
                type: string
              type: array
            version:
              description: Version is the image version which will be used for the
                nodes.
              type: string
          required:
          - replicas
          - flavor
          - version
          type: object
        status:
          properties:
            moduleRef:
              description: ModuleRef contains the reference to the module used by
                this service.
              type: string
            phase:
              description: Phase is the service phase. It can be "Running", "Completed",
                "Pending" or "Failed".
              type: string
          required:
          - phase
          - moduleRef
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
