apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: nodes.core.automium.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.hostname
    description: the node hostname
    name: Hostname
    type: string
  - JSONPath: .status.nodeProperties.address
    description: the node private IP
    name: Internal-IP
    type: string
  - JSONPath: .status.nodeProperties.publicAddress
    description: the node public IP
    name: External-IP
    type: string
  - JSONPath: .status.nodeProperties.image
    description: the image deployed on node
    name: OS-Image
    type: string
  - JSONPath: .metadata.annotations['service\.automium\.io/name']
    description: Service which the node belongs to
    name: Service
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: core.automium.io
  names:
    kind: Node
    plural: nodes
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            deletionDate:
              type: string
            hostname:
              type: string
          required:
          - hostname
          - deletionDate
          type: object
        status:
          properties:
            nodeHealthChecks:
              items:
                properties:
                  checkID:
                    type: string
                  name:
                    type: string
                  output:
                    type: string
                  serviceID:
                    type: string
                  serviceName:
                    type: string
                  status:
                    type: string
                required:
                - checkID
                - name
                - status
                - output
                - serviceID
                - serviceName
                type: object
              type: array
            nodeProperties:
              properties:
                address:
                  type: string
                id:
                  type: string
                image:
                  type: string
                node:
                  type: string
                publicAddress:
                  type: string
              required:
              - id
              - node
              - address
              - publicAddress
              - image
              type: object
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
