apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: services.core.automium.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.labels['app']
    description: the application
    name: Application
    type: string
  - JSONPath: .spec.version
    description: the application version
    name: Version
    type: string
  - JSONPath: .spec.replicas
    description: the application replicas
    name: Replicas
    type: string
  - JSONPath: .spec.flavor
    description: the child module.core.automium.io
    name: Flavor
    type: string
  - JSONPath: .status.moduleRef
    description: the child module.core.automium.io
    name: Module
    type: string
  - JSONPath: .status.phase
    description: the execution phase
    name: Status
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: core.automium.io
  names:
    kind: Service
    plural: services
  scope: Namespaced
  subresources:
    scale:
      specReplicasPath: .spec.replicas
      statusReplicasPath: .status.replicas
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            env:
              items:
                type: object
              type: array
            flavor:
              type: string
            replicas:
              format: int64
              minimum: 0
              type: integer
            tags:
              items:
                type: string
              type: array
            version:
              type: string
          required:
          - replicas
          - flavor
          - version
          type: object
        status:
          properties:
            moduleRef:
              type: string
            phase:
              type: string
          required:
          - phase
          - moduleRef
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
