apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: modules.core.automium.io
spec:
  group: core.automium.io
  names:
    kind: Module
    plural: modules
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            action:
              type: string
            env:
              items:
                type: object
              type: array
            flavor:
              type: string
            image:
              type: string
            replicas:
              format: int64
              type: integer
            source:
              type: string
          required:
          - source
          - image
          - replicas
          - flavor
          - action
          type: object
        status:
          type: object
  version: v1beta1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
