apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: example
spec:
  replicas: 0
  serviceName: example
  selector:
    matchLabels:
      app: example-app
  template:
    metadata:
      labels:
        app: example-app
    spec:
      containers:
      - name: example
        image: automium/reactor
        imagePullPolicy: "Always"
        lifecycle:
          preStop:
            exec:
              # gracefully terminate the agent
              command: ["consul", "leave"]