{{- if .Values.ingress.enabled -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: automium
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: {{ .Values.ingress.consulHost }}
    http:
      paths:
      - backend:
          serviceName: consul-consul-server
          servicePort: 8500
  - host: {{ .Values.ingress.lbHost }}
    http:
      paths:
      - backend:
          serviceName: lb-service
          servicePort: 80
{{- end }}